{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid min-vh-100">
    <div class="row">
        <!-- Sidebar Section -->
        <div class="col-md-3">
            <aside class="sidenav d-flex flex-column justify-content-between bg-dark vh-100 p-4">
                <a class="navbar-brand text-center" href="{% url 'index' %}" class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" class="img-fluid" width="100px">
                </a>
                <!-- Navbar Links -->
                {% include 'navbar.html' %}

            </aside>
        </div>
        <!-- End Sidebar Section -->

        <!-- Form Section -->
        <div class="col-md-9 d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-md-6">
                <div class="contact-form bg-dark p-5 rounded shadow text-center">

                    <!-- Heading for Account Settings Form -->
                    <h1 class="text-white mb-4">Account Settings</h1>

                    <!-- Account Settings Form -->
                    <form method="POST" enctype="multipart/form-data" class="needs-validation">
                        {% csrf_token %}

                        <!-- Profile Picture Field -->
                        <div class="form-group mb-4 text-left">
                            <label for="profilePicture" class="text-white">Profile Picture</label> <br>
                            <img src="{{user_profile.profile_img.url}}" width="150px">
                            <input type="file" id="profilePicture" name="profile" class="form-control-file bg-transparent border-light text-white shadow-none">
                            <p class="invalid-feedback">Please upload a profile picture!</p>
                        </div>

                        <!-- Bio Field -->
                        <div class="form-group mb-4 text-left">
                            <label for="bio" class="text-white">Bio</label>
                            <textarea id="bio" name="bio" class="form-control bg-transparent border-light text-white shadow-none" placeholder="Tell us about yourself..." rows="4">{{ user_profile.bio }}</textarea>
                            <p class="invalid-feedback">Your bio is required!</p>
                        </div>

                        <!-- Location Field -->
                        <div class="form-group mb-4 text-left">
                            <label for="location" class="text-white">Location</label>
                            <input type="text" id="location" name="location" class="form-control bg-transparent border-light text-white shadow-none" placeholder="Enter your location" value="{{user_profile.location}}">
                        </div>

                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block py-2">Save Changes</button>
                        </div>
                    </form>

                    <!-- Link to go back to profile -->
                    <div class="text-center mt-4">
                        <small class="text-white">Want to view your profile? <a href="{% url 'profile' user_profile.user.username %}" class="text-primary">Go to Profile</a></small>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Form Section -->
    </div>
</div>

{% endblock content %}
